<div class="fb-send" data-href="http://example.com" data-font="arial"></div>
<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="CreditFlex" data-size="large" data-hashtags="creditflex">Tweet</a>
</div>