<style type="text/css" media="screen">

 .twitter-share-button a {

    display: block;

    padding: 2px 5px 2px 20px;

    background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat;

    border: 1px solid #ccc;

  }

</style>
<div class="fb-send" data-href="http://example.com" data-font="arial"></div>
<div>



<%= link_to("Tweet", tweet_wish_path) %>

<a href="https://twitter.com/share" class="twitter-share-button" data-via="CreditFlex" data-url="<%=j url_for(@wish) %>" data-size="large" data-text="Challenge issued: " data-hashtags="creditflex">Tweet</a>
</div>
<a href="https://twitter.com/share" data-text="Challenge issued: " data-url="<%=j url_for(@wish) %>" class="twitter-share-button" data-via="CreditFlex"  data-size="large" data-hashtags="creditflex">Tweet</a>

 
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>