<h1>Is CF Rigorous?</h1>


<div id="featured">

<%= image_tag("seals.jpg", {:height => 360}) %>
<div id="feature_text">
<div id="main_text">
<div id="intro">
 
<p>That's what we're here for.</p>
<div class="quote">One man is much the same as another,
... he is best who is trained in the severest school."
- Thucydides, "History of the Peloponnesian War" (431-404 B.C.)</div>

<p>We so trained in the day; we expect here to help students and teachers work toward the same.</p>
<p>Together, we can raise the bar across districts.</p>
<p>Will you consider contributing here to give students demanding and relevant options?</p></div>

<%= link_to("Learn more", resources_path) %>.</p><div id="fb">


</div>

</div>
</div>
<div class="clear" style="height:25px;"></div>
<div class="left">
<h2>Confidence</h2>
Step by step.<br />
Often one-on-one with adult, or with team.
</div>
<div class="right">
<h2>Competancy</h2>
Focus on mastery, not seat time.<br />
Mastery determined sometimes by assessment, other times by critical judgement of a Highly Qualified Teacher.
Potential for involvement with mentor/professional.
</div>
<div class="clear" style="height:25px;"></div>
<div id="orc">
<div class="titleb">In fact, the Legislature required Competancy and only Competancy</div>
The enabling legislation for Credit Flex was this:<br />
<h6>O.R.C. 3313.603(J)</h6> The state board of education, in consultation with the Ohio board of regents and the partnership for continued learning, <b>shall adopt a statewide plan implementing methods for students to earn units of high school credit based on a demonstration of subject area competency, instead of or in combination with completing hours of classroom instruction</b>. The state board shall adopt the plan not later than March 31, 2009, and commence phasing in the plan during the 2009-2010 school year. <b>The plan shall include a standard method for recording demonstrated proficiency on high school transcripts</b>. Each school district, community school, and chartered nonpublic school shall comply with the state board's plan adopted under this division and award units of high school credit in accordance with the plan. The state board may adopt existing methods for earning high school credit based on a demonstration of subject area competency as necessary prior to the 2009-2010 school year.
</div>

<div class="clear"> .</div>


