<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> <%= @user.name %>, somebody was messin with creditflex.</h1>
    <p>

    </p>

  </body>
</html>