<div id="bg">
<%= image_tag("landscape_huge.png") %>
</div>

<div id="home-main">
<h3>Finally. New Ohio law says you can learn anything you want, any way you want.</h3>
<div id="welcome4">Your school still gives you credit.
</div>

<div id="welcome1"></div>
<div id="welcome2">

</div>

<div id="signup" >
<%= render 'form2' %>
</div>
<div id="welcome3">You're on your way to learning that fits <i>you</i>.

Start now on making it better. </div>





</div>
</div>