<div id="bg">
<%= image_tag("landscape_huge.png") %>
</div>

<div id="home-main">
<div class="main-title">Students, it's school where <i>you</i> tell you what to do.</div>
<h3>Finally. New Ohio law says you can learn anything you want, any way you want.</h3>
<div id="welcome4">Your school still gives you credit.
</div>

<div id="welcome1"></div>

<div id="welcome2"><span id="video-link" class="video-link" > See the credit flexibility video</span><br />
<span id="odestuff">The dry guidance stuff from ODE</span><br />
<span id="adult-stuff">Teachers and community: why support this?</span>
</div>
<div id="signup" >
<%= render 'form2' %>
<p>
<%= button_to("I have an account", login_path, html_options = { :method => :get }) %>
</p>
</div>
 <div id="welcome3">You're on your way to learning that fits <i>you</i>.

Start now on making it better. </div>




</div>
</div>

<div id="modal-container2" class="modal-container">
<div id="popup">
<div id="modal-header2">
<div id="modal-close2"><span id="modal-close2">X</span></div>
<div class="modal-title"></div>
</div>
<div id="modal-body2" class="modal-body2">
<div id="video-popup">

</div>
</div>
</div>
</div>

<div id="modal-container3" class="modal-container">
<div id="ode-popup">
<div id="modal-header3">
<div id="modal-close"><span id="modal-close3">X</span></div>
<div class="modal-title">http://www.ode.state.oh.us/GD/Templates/Pages/ODE/ODEDetail.aspx?page=61</div>
</div>
<div id="modal-body3" class="modal-body2">
<div id="odelovin">
<iframe src="http://www.ode.state.oh.us/GD/Templates/Pages/ODE/ODEDetail.aspx?page=61" width="100%" height="800px"></iframe>

</div>
</div>
</div>



<script>

$(document).ready(function (){


$('span#video-link').click(function(){
   $('div#modal-container2').show();
   $('div#video-popup').html('<iframe width="420" height="315" src="http://www.youtube.com/embed/yAg1pNu2eWY?rel=0&autoplay=1&allowfullscreen=true" frameborder="0"  ></iframe>');
});



    $('span#video-link').hover(function(){
   $('span#video-link').toggleClass('show-welcome-hover');
  });
  
$('span#odestuff').click(function(){
   $('div#modal-container3').show();
});

    $('span#odestuff').hover(function(){
   $('span#odestuff').toggleClass('show-welcome-hover');
  });


$('span#adult-stuff').click(function(){
   $('div#modal-container2').show();
   $('div#video-popup').html('<iframe width="420" height="315" src="http://www.youtube.com/embed/slF8NYm39hU?rel=0&autoplay=1&allowfullscreen=true" frameborder="0"  ></iframe>');
});

    $('span#adult-stuff').hover(function(){
   $('span#adult-stuff').toggleClass('show-welcome-hover');
  });

    $('#modal-close').hover(function(){
   $('span#modal-close').toggleClass('modal-hover');
  });
  
      $('#modal-close2').hover(function(){
   $('span#modal-close2').toggleClass('modal-hover');
  });
  
    $('#modal-close2').click(function(){
   $('div#modal-container2').hide("slow");
   $('div#video-popup').html("");
  });
      $('#modal-close3').hover(function(){
   $('span#modal-close3').toggleClass('modal-hover');
  });
  
  $('#modal-close3').click(function(){
   $('div#modal-container3').hide("slow");
  });
});
</script>