<div id="ode_guidance">
<div style="text-align:center"><b>Teachers</b></div><br />
ODE Guidance Documents
<p>The Ohio Department of Education offers a number of documents about specific subjects and aspects. Check <a href="http://www.education.ohio.gov/GD/Templates/Pages/ODE/ODEDetail.aspx?Page=3&TopicRelationID=1864&ContentID=82751&Content=121092">here</a> or the <a href="http://www.sharedwork.org/group/ohio-credit-flexibility/home1">CF Community of Practice</a> for updates.</p>
<ul>
  <li>World Languages
      <ul>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=90092">Credit Flexibility and World Languages</a> </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=67456">Supporting Data - Proficiency and Course Credit</a> </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=67542">Language Proficiency</a> </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=107446">Frequently Asked Questions</a>&nbsp; </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=103416">Existing Credit Flexibility World Languages Program in Ohio</a> </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=103417">Stark County Educational Service Center Recommendations</a> </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=103415">Jackson Local Credit Flexibility Competency Demonstration</a> </li>
      </ul>
  </li>
  <li>Arts Education (in development) </li>
  <li>Resources for online Educational Options (in development) </li>
  </ul>
<p><strong>Assessment/Gifted Information<br>
</strong></p>
<ul>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=83837">Assessment</a> (3/30/10) </li>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=90986">Advanced Placement Exams</a> (updated 10/15/10) </li>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=82753">Gifted Education</a> (updated 8/20/10) </li>
</ul>
<p><strong>Physical Education/Athletic Eligibility&nbsp;Information</strong></p>
<ul>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=90993">Physical Education</a> (updated 10/15/10) </li>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=92188">NCAA interpretation of &ldquo;nontraditional coursework&rdquo;</a> (10/15/10) </li>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=89446">Athletic Eligibility</a> (6/3/10) </li>
  <li><a href="http://www.education.ohio.gov/GD/Templates/Pages/ODE/ODEDetail.aspx?page=3&amp;TopicRelationID=1793&amp;ContentID=90824&amp;Content=90852" target="_blank">Physical Education and Credit Flexibility</a> (Web page) </li>
</ul>
<p><strong>Career-Technical Information</strong></p>
<ul>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=94032">Career-Tech Credit Flex Presentation</a> (10/29/10) </li>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=89698">Career-Tech Credit Flex</a> (updated 8/23/10) </li>
</ul>
<p><strong>Students with Disabilities</strong></p>
<ul>
  <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=121091">Students with Disabilities</a> (2/10/12) </li>
</ul>

<ul>
    <li>Career/Technical Education
      <ul>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=73645">Academic/CTE credit self-assessment</a> </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=73644">Recommendations from ACTE report</a> <em>Reinventing the American High School</em> </li>
      </ul>
    </li>
    <li>Ohio School Boards Association (OSBA)
      <ul>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=73672">Policy guidance</a> (from the OSBA policy manual) </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=73671">Featured article on Credit Flexibility</a> (from the July issue of OSBA's <em>PDQ</em>) </li>
      </ul>
    </li>
    <li>Ohio High School Athletics Association (OHSAA)
      <ul>
        <li><a href="http://www.ohsaa.org/eligibility/eligbulletin_09.pdf">Guidance for athletics eligibility</a> (four-page pdf from OHSAA website - see especially page four, checkboxes two and three) </li>
        <li><a href="http://www.education.ohio.gov/GD/DocumentManagement/DocumentDownload.aspx?DocumentID=85394">Credit Flexibility and the OHSAA</a> (PowerPoint) </li>
      </ul>
    </li>
    <li><a href="http://www.getreadyoregon.org/newrequirements.aspx">Oregon State education flexibility policy language</a> </li>
</ul>
</div>