<h1>New proposal</h1>
This work area is for students ready to begin writing a proposal to present to their teacher or guidance councillor.

However, it may also be used by teachers who wish to build a template for specific project types.

<div id="warning"> 
Students<br />
<span class="reddish">Your district/school may likely have a specific form or format. </span>
<p>Check with your guidance councilor before proceding far.</p>
<p>This format is only a planning tool.</p>


</div>
<%= render 'form' %>

<%= link_to 'Back', proposals_path %>
