<div class="content1">
<div class="form">
<%= image_tag( 'guidance.png', :class => "course_avatar")  %>
<h2>Add a New course</h2>
<div class="clearfix"></div>
<%= render 'form' %>

<%= link_to 'Back', courses_path %>
</div>
</div>