<div id="modal-container5" class="modal-container5">
<div id="upload-dialogue" class="uploader-popup">
<div id="modal-header">
<div id="modal-close"><span id="modal-close2">X</span></div>
<div class="modal-title"> </div>
<div id="challenge-title"><%= @challenge.title %> </div>
</div>
<%= render("image_form2") %>
</div>
</div>