<div>
What's next? Lots!

You can
<p>Start bringing a teacher, counseler, or administrator on board.</p>
<p>Fire over to <a href= "http://badgeforge.com/index.php ">BadgeForge.com</a> to create badges for steps in your plan.</p>
<p>Challenge other students to work on their plan, or join yours</p></div>
<p>
<%= link_to("Continue developing your plan some more.", new_from_challenge_proposals_path(:challenge => @challenge), :class => "b_button") %></p>

Remember! You must have a teacher or admin's approve your plan!
<div id="badge_holder_2">

</div>
</div>