/*
* 
*/
@mixin rounded-corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius:5px;
}
@mixin box-shadow($sol, $sot, $bd, $color) {
	-moz-box-shadow: $sol $sot $bd $color; 
	-webkit-box-shadow: $sol $sot $bd $color; 
	box-shadow: $sol $sot $bd $color; 
}
@mixin gradient($top-color, $bottom-color) {
	background: $top-color; 
	background: -moz-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top-color), color-stop(100%, $bottom-color)); 
	background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: -o-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: -ms-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: linear-gradient(top, $top-color 0%, $bottom-color 100%);  
}