/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
	margin:0;
	}
body {
  background-color: #324567;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }	
.content {
	padding-top:30px;
	padding-left:85px;
	width: 860px;
	margin:10px auto 30px auto;
	background:#ffffff;
	-moz-border-radius:12px;
	-khtml-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}		
.clear{
	clear:both;
	}
#title {
	font-size:x-large;
	float:left;
	width:300px;
	vertical-align:middle;
	height:200px;;
	}	
	
.admin {
	background-color:#EF8792;
	border-bottom-style:solid;
	border-bottom-width:1px;

}	
.signup1  {
	font-size:medium;
	color:#0000cc;
}
.signup1 a {
	font-size:medium;
	color:#0000ee !important;
}