// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin rounded-corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius:5px;
}
@mixin box-shadow($sol, $sot, $bd, $color) {
	-moz-box-shadow: $sol $sot $bd $color; 
	-webkit-box-shadow: $sol $sot $bd $color; 
	box-shadow: $sol $sot $bd $color; 
}

$bar_background__top: #f1f4d2;
$bar_background__bottom: #dee698;


.course_title {
	color:#607890;
	font-weight:bold;
}
.content5 {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; background: 
	-moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden;
	width:860;
	
	}
.intro {
	font-size:130%;
	padding-bottom:10px;
}
#ilearn {
		float:right;
		@include rounded-corners(9px);
		background-color:#cf9;
		width:460px;
		height:280px;
		margin-bottom:15px;
		margin-right:70px;
		}
#ilearn h3 {
		margin-top:7px;
		text-align:center;
		color:#638e47;
		font-size:19.5px;

}
#ilearn_logo {
	margin-left:13px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:30px;
	height:50px;
	float:right;
}
#ilearn_search {
	height:120px;
}

#ilearn #d1 {
		padding: 0;
		/*background:  url(/d/mountaintop/box_bottom.gif) no-repeat bottom left;*/
		}

#ilearn	#d2 {
		margin: 0 0 10px 0;
		padding: 10px;
		font-size: 130%;
		color: #fff;

		border-bottom: 1px solid #fff;
		/*background:  url(/d/mountaintop/box_top.gif) no-repeat top left;*/
		}
	
#ilearn #d3 {
		margin: 0 0 0 10px;
		padding: 0 10px 10px 10px;
		color: #666;
		font-family: Verdana, sans-serif;
		font-size: 125%;
		/*background: url(/d/mountaintop/arrow.gif) no-repeat 0 3px;*/
		}
.fees {
		font-size:80%
}	
#featured_c  {
		/*float:left;*/
		@include rounded-corners(9px);
		/*background-color:#ccc1c1;*/
		background-image:url(bg_reddish_trans.png);
		background-repeat:repeat-x;
		background-repeat:repeat;
		border-style:double;
		border-color:#cc9999;
		width:460px;
		height:274px;
		margin-bottom:15px;
		margin-right:100px;
		margin-left:30px;
		}
#featured_c h2 {
		font-size:normal;
		color: #ffffff;
		text-align:center;
		color:#7c2220;
		margin-top:8px;
		margin-bottom: 5px;
		}				
#featured_c #d1 {
		padding: 0;

		}

#featured_c	#d2 {
		margin: 0 0 10px 0;
		padding: 10px;
		font-size: 130%;
		color: #fff;
		border-bottom: 1px solid #fff;

		}
	
#featured_c #d3 {
		margin: 0 0 0 10px;
		padding: 0 10px 10px 10px;
		color: #666;
		font-family: Verdana, sans-serif;
		font-size: 125%;

		}
img#pltw  {
	width:180px;
	float:right;
}
#teacher_invite {
	width:600px;
	float:right;
			margin-right:70px;
}
#course_search {
	margin-bottom:8px;
}

.course2 {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; background: 
	-moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 25px 15px 0;
	padding: 7px; 
	overflow: hidden;
	width:860;
	
	}
	
	.formas {

	padding:30px 30px;
	width: 720px;
	margin:10px auto 300px auto;
	background:#dddddd;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
		padding:8px;
	/* font-size:large; */
	}
	.course_avatar {
		height:130px;
		float:right;
		padding-left:15px;
	}
	.desc {
	float:right;
	margin-right:15px;

}
.add_button {
    background: -moz-linear-gradient(center top , #ff9900, #c13100) repeat scroll 0 0 transparent;
	  /*background: #DDD;*/
	 background: -o-linear-gradient(top, #ff9900 0%, #c13100 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#c13100));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#c13100');
    border: 1px solid #53171F;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #661514;
	float:right;
	margin-bottom:7px;
	margin-right:7px;
}