// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bar_background__top: #f1f4d2;
$bar_background__bottom: #dee698;

.content5 {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; background: 
	-moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden;
	width:860;
	
	}