// Place all the styles related to the lycee controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bar_background__top_old: #fbf9e1;
$bar_background__bottom_old: #f7edcf;
$bar_background__top: #f1f4d2;
$bar_background__bottom: #dee698;

#featured {
	margin-bottom: 20px;
	}

#feature_text {
	width: 550px;
	float:right;
	height:360px;
	padding-bottom:0px;

}
#intro {
	color:#8C1C32;
	font-size:larger;
	line-height: 26px;
}
#main_text {
	width: 400px;
	padding-left:20px;
	padding-right:30px;
	font-size: large;
	color:#322938;
}
#main_text p{
	font-size: large;
	color:#322938;
	line-height: 20px;
}
#feature_text p {
	font-size: large;
	color:#322938;
}
.learn_more {
	color:#92a868a;
	}
#feature_text .not_ohio {
	font-size: small;
}
#caption {
	margin-top:30px;
	margin-bottom:-15px;
}	
#caption p{
	font-size: small;
	margin-left:15px;
		float:left;
	}
	
	
	
	
#projects {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, $bar_background__bottom 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden
	}
#projects_bar {margin-bottom: 35px; clear: left}
#projects_bar h2 {font-size: 28px; font-family: "MuseoSans500", Arial, "Lucida Grande", Tahoma, "Sans Serif"}
#projects_bar #projects_item {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden;
	width: 190px; 
	float: left; 
	margin-right: 20px; 
	margin-left: 15px;
}
#projects_bar #projects_item:hover {background-color: #0061D7;} 
#projects_bar #projects_item_last {width: 190px; float: left; margin-right:0px; padding-left: 30px; padding-top:70px; } 
#projects_bar #projects_item_last p {margin: 0; color: #5f697a; font-size: 14px}
.courses_bar #projects_item:last-child {margin: 0}
#projects_bar #projects_item .item_desc {background: #e6f2f7; padding: 10px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px}
#projects_bar  h4 {margin: 0; font-size: 18px; text-align:center; font-weight:normal;}
#projects_bar #projects_item .item_desc h5 {margin: 0; font-size: 18px;}
#projects_bar #projects_item .item_desc a {color:#322938; text-decoration:underline; text-align:right;}
#projects_bar #projects_item .item_desc a:hover {color:#003399;}
#projects_bar .portfolio_item .item_desc p {margin: 0; color: #5f697a; font-size: 14px}
	
	
	
	
	
	
	
	
#requests {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, $bar_background__bottom 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden
	}
#requests_bar {margin-bottom: 35px; clear: left}
#requests_bar h2 {font-size: 28px; font-family: "MuseoSans500", Arial, "Lucida Grande", Tahoma, "Sans Serif"}
#requests_bar #requests_item {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 15px 0; 
	overflow: hidden;
	width: 190px; 
	float: left; 
	margin-right: 5px; 
	margin-left: 15px;
}
#requests_bar #requests_item:hover {background-color: #0061D7;} 
#requests_bar #requests_item_last {width: 190px; float: left; margin-right:0px; padding-left: 30px; padding-top:70px; } 
#requests_bar #requests_item_last p {margin: 0; color: #5f697a; font-size: 14px}
.courses_bar #requests_item:last-child {margin: 0}
#requests_bar #requests_item .item_desc {background: #e6f2f7; padding: 10px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px}
#requests_bar  h4 {margin: 0; font-size: 18px; text-align:center; font-weight:normal;}
#requests_bar #requests_item .item_desc h5 {margin: 0; font-size: 18px;}
#requests_bar #requests_item .item_desc a {color:#322938; text-decoration:underline; text-align:right;}
#requests_bar #requests_item .item_desc a:hover {color:#003399;}
#requests_bar .portfolio_item .item_desc p {margin: 0; color: #5f697a; font-size: 14px}

.r_band { width: 800px;}
.r_band h3 { width: 300px; padding-left:7px;}










#lycee {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, $bar_background__bottom 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden
	}
#lycee #lycee_inner {padding: 15px 25px 0px 25px; overflow: hidden; width: auto}
#lycee .full_column, #lycee .two_column_left, #lycee .two_column_right, #secondary_content .quarter_column_left {margin-bottom: 18px}
#lycee_bar {margin-bottom: 35px; clear: left}
#lycee_bar img {border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px}
#lycee_bar h2 {font-size: 28px; font-family: "MuseoSans500", Arial, "Lucida Grande", Tahoma, "Sans Serif"}

#courses_bar {margin-bottom: 35px; clear: left}
#courses_bar img {border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px}
#courses_bar h2 {font-size: 28px; font-family: "MuseoSans500", Arial, "Lucida Grande", Tahoma, "Sans Serif"}

#courses_bar #courses_item {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden;
	width: 190px; 
	float: left; 
	margin-right: 20px; 
	margin-left: 15px;
} 
#courses_bar #courses_item:hover {background-color: #0061D7;} 
#courses_bar #courses_item_last {width: 190px; float: left; margin-right:0px; padding-left: 30px; padding-top:70px; } 
#courses_bar #courses_item_last p {margin: 0; color: #5f697a; font-size: 14px}
.courses_bar #courses_item:last-child {margin: 0}
#courses_bar #courses_item .item_desc {background: #e6f2f7; padding: 10px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px}
#courses_bar  h4 {margin: 0; font-size: 18px; text-align:center; font-weight:normal;}
#courses_bar #courses_item .item_desc h5 {margin: 0; font-size: 18px;}
#courses_bar #courses_item .item_desc a {color:#555555; text-decoration:underline;}
#courses_bar #courses_item .item_desc a:hover {color:#003399;}
#courses_bar .portfolio_item .item_desc p {margin: 0; color: #5f697a; font-size: 14px}

.c_band { width: 450px;}
.c_band h3 { width: 300px; padding-left:7px;}

#teachers {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; background: 
	-moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden;
}
#teachers #lycee_inner {padding: 15px 25px 0px 25px; overflow: hidden; width: auto}
#teachers .full_column, #lycee .two_column_left, #lycee .two_column_right, #secondary_content .quarter_column_left {margin-bottom: 18px}
#teachers_bar {
	margin-bottom: 35px; 
	clear: left;
	height:200px;
	}
#teachers_bar img {
	border-top-left-radius: 4px; 
	-moz-border-radius-topleft: 4px; 
	-webkit-border-top-left-radius: 4px; 
	border-top-right-radius: 4px; 
	-moz-border-radius-topright: 4px; 
	-webkit-border-top-right-radius: 4px}
#teachers_bar h2 {font-size: 28px; font-family: "MuseoSans500", Arial, "Lucida Grande", Tahoma, "Sans Serif"}
#teachers_bar #teachers_item {
	border-radius: 4px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, #f7edcf 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin: 0 0 24px 0; 
	overflow: hidden;
	width: 190px; 
	float: left; 
	margin-right: 20px; 
	margin-left: 15px;
} 
#teachers_bar #teachers_item:hover {background-color: #0061D7;} 
#teachers_bar #teachers_item_last {width: 190px; float: left; margin-right:0px; padding-left: 30px; padding-top:70px; } 
#teachers_bar #teachers_item_last p {margin: 0; color: #5f697a; font-size: 14px}
.courses_bar #teachers_item:last-child {margin: 0}
#teachers_bar #teachers_item .item_desc {background: #e6f2f7; padding: 10px; border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px}
#teachers_bar  h4 {margin: 0; font-size: 18px; text-align:center; font-weight:normal;}
#teachers_bar #teachers_item .item_desc h5 {margin: 0; font-size: 18px;}
#teachers_bar #teachers_item .item_desc a {color:#322938; text-decoration:underline;}
#teachers_bar #teachers_item .item_desc a:hover {color:#003399;}
#teachers_bar .portfolio_item .item_desc p {margin: 0; color: #5f697a; font-size: 14px}

.t_band { width: 800px;}
.t_band h3 { width: 300px; padding-left:7px;}
#teachers h3 { width: 300px; padding-left:5px;}
.penguin {
	float:right;
	padding-top:0px;
	margin-top:-10px;
	}
.t_avatar {
	float:right;
	margin-left:auto;
	margin-right:5px;
	vertical-align:middle;
	height:40px;
}	
.projekt {
	float:right;
	margin-left:auto;
	margin-right:5px;
	vertical-align:middle;
	height:100px;

}
#penguin {
	float:right;
	margin-top:-20px;
	}
#add_mentor {
	font-size:small;
	margin-right:20px;
	padding-bottom:20px;
	float:right;
}	
#add_course {
	font-size:small;
	margin-right:20px;
	padding-bottom:20px;
	float:right;
}
.clearfix {zoom: 1}		

.add_button {
    background: -moz-linear-gradient(center top , #ff9900, #c13100) repeat scroll 0 0 transparent;
    border: 1px solid #53171F;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #661514;
	float:right;
	margin-bottom:7px;
	margin-right:7px;
}
.add_button2 {
    background: -moz-linear-gradient(center top , #c13100, #98998B ) repeat scroll 0 0 transparent;
    border: 1px solid #53171F;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #661514;
	float:right;
	margin-bottom:7px;
	margin-right:7px;
}
#user_nav {
width:300px;
float:right;
}
.right_arrow {
float:right;
padding-top:100px;
}
.list_them {
float:right;
font-size:large;
padding-right:20px;
}