// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/***********************************************Projects**************************************/
@mixin rounded-corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-shadow($sol, $sot, $bd, $color) {
	-moz-box-shadow: $sol $sot $bd $color; 
	-webkit-box-shadow: $sol $sot $bd $color; 
	box-shadow: $sol $sot $bd $color; 
}
@mixin gradient($top-color, $bottom-color) {
	background: $top-color; 
	background: -moz-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top-color), color-stop(100%, $bottom-color)); 
	background: -webkit-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: -o-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: -ms-linear-gradient(top, $top-color 0%, $bottom-color 100%); 
	background: linear-gradient(top, $top-color 0%, $bottom-color 100%);  
}


$bar_background__top_old: #fbf9e1;
$bar_background__bottom_old: #f7edcf;
$bar_background__top: #f1f4d2;
$bar_background__bottom: #dee698;
body {
  background-color: #324567;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  /*line-height: 18px;*/ }
  
.content {
	background-color:#ffffff;
	width: 1060px;
	padding-left:10px;

}  
.content1 {
	padding-top:30px;
	padding-left:85px;
	width: 860px;
	margin:10px auto 30px auto;
	background:#415377;
	-moz-border-radius:12px;
	-khtml-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	/* -khtml-box-sizing:content-box; */
	box-sizing:content-box;
	}
#pcolumn {
	margin-left: 30px;
	width:1040px;
}		
.form {

	padding:30px 30px;
	width: 720px;
	margin:10px auto 30px 40px;
	background:#dddddd;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	/* -khtml-box-sizing:content-box; */
	box-sizing:content-box;
	}
.form1 {
	@include rounded-corners(30px);
	@include gradient(#D8CEC0, #E0DCDB );
	padding:30px 30px;
	width: 720px;
	margin:10px auto 30px 40px;
	/*background:#D8CEC0;*/

	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	/* -khtml-box-sizing:content-box; */
	box-sizing:content-box;
	/*background: -moz-linear-gradient(top, #D8CEC0 100%, #E0DCDB 10%); */
	}	
#form_image {
	float:right;
	padding-top: -30px;
	height: 150px;
}	
input {
/*border: 1px solid #000000;*/
border-radius: 5px 5px 5px 5px;
}
.login_warning {
	color:#cc0000;
	width:450px;
	border-style:solid;
	border-width:1px;
	border-color:#cc0000;
	padding:4px;
	font-weight:bold;
}
.actions {
	margin-top: 8px;
	margin-left: 300px;
}			
h1 {
color:#ffffff;
}	
.ptitle {
	font-weight:bold;
	color:#605307;
	font-size:larger;
}
.project3 {
	width: 490px;
	border-radius: 8px; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	-moz-box-shadow: 0px 2px 2px #666666; 
	-webkit-box-shadow: 0px 2px 2px #666666; 
	box-shadow: 0px 2px 2px #666666; 
	background: #ffffff;
	@include gradient($bar_background__top, $bar_background__bottom ); 

	color: #4c4c4c; 
	margin: 0 0 24px 10px; 
	overflow: hidden;
	padding:8px;
	float:left;
	height:320px;
	}
.project_img {
float:left;
min-height: 110px;
margin-top: 20px;
}
.project3 img {
float:left;
width:150px;
min-height: 140px;

}	
.project4 {
float:left;
width:300px;
padding-left:12px;
font-family:helvetica;
font-size:13px;
}	
#user_nav {
width:300px;
float:right;
}
.badge1{
	float:right;
}
.s_avatar {
	height:50px;
}
#bottom {
	margin-top:60px;
}	