// Place all the styles related to the proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#proposals_controller
{
body {
	background-color: #324219;
	}

.description1 {
	border-style: solid;
    bg-color: blue;
	border-color: #3366cc;
	border-width: 1;
	color: blue;
    }

.content {
	padding:30px 30px;
	width: 1050px;
	margin:10px auto 30px auto;
	background:#ffffff;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}	
.content h1 {
    /* margin-top:-7px; */
}
#page_title {
	text-align:center;
	font-size:26px;
	font-weigth:bold;
	padding-bottom: 10px;
}	
.form {
	padding:30px 30px;
	width: 600px;
	margin:10px auto 300px auto;
	background:#ffffff;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}		
.container1 {
	padding:30px 30px;
    padding-top: 7px;
	margin:10px auto 30px auto;
	background:#dddddd;
	-moz-border-radius:11px;
	-khtml-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}
.container2 {
	padding:10px 10px;
	margin:10px auto 30px auto;
    height: 300px;
	background:#eeeeee;
	-moz-border-radius:2px;
	-khtml-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}
.container2 p {
    margin-top: 0px;
    }
#warning {
	border:1px;
	border-style:solid;
	border-color:#c13100;
	font-size:large;
	margin:10px;
	margin-bottom:25px;
	padding:10px;
}
#warning p {
	font-size:medium;
}
.reddish {
	color:#c13100;
}
.add_button {
    background: -moz-linear-gradient(center top , #ff9900, #c13100) repeat scroll 0 0 transparent;
	  /*background: #DDD;*/
	 background: -o-linear-gradient(top, #ff9900 0%, #c13100 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9900), to(#c13100));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9900', endColorstr='#c13100');
    border: 1px solid #53171F;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #661514;
	text-align:center;
	margin-bottom:7px;


}	
#student_info {
    float:right;
	padding:10px 10px;
	background:#eeeeee;
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}	
	}