// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {

	padding:30px 30px;
	width: 600px;
	margin:10px auto 300px auto;
	background:#ffffff;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-webkit-box-shadow:1px 0px 5px #666;
	-khtml-box-sizing:content-box;
	box-sizing:content-box;
	}	
#request_header {
	font-family:arial;
	font-wieght:bold;
	font-size:20px;
	padding-bottom:5px;
	border-bottom:1px;
	border-bottom-style:solid;
	}	

#request_body p {
	font-size:16px;
}
#request_body {
	margin-top:25px;
	font-size:16px;
	padding-bottom:5px;
	}	
#request_body h5 {	
	color:#c13100;
	margin-top:4px;
	margin-bottom:4px;
}
#answers {
	margin-top:40px;
	font-size:14px;

	}
	
#answers_header {
	font-family:arial;
	font-size:20px;
	padding-bottom:5px;
	border-bottom:1px;
	border-bottom-style:none;
	}
#answers .response {
	min-height:120px;
	border-top:2px;
	border-top-color:#c13100;
	border-top-style:solid;
	color:#330000;
	padding-top:15px;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:25px;
}			