// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/***********************************teachers***********************************/
#teachers_controller
{}
$bar_background__top: #f1f4d2;
$bar_background__bottom: #f1f4d2;

.content {
width: 1060px;
padding-left:10px;

}
h1 {
	color:#8c1c32;
	line-height:26px;
	}
.mentor {
	width:250px;
	height:300px;
	float:left;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 0px 4px 5px #666666; 
	-webkit-box-shadow: 0px 4px 5px #666666; 
	box-shadow: 0px 4px 5px #666666; 
	background: #fbf9e1; 
	background: -moz-linear-gradient(top, $bar_background__top 0%, $bar_background__bottom 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbf9e1), color-stop(100%, #f7edcf)); 
	background: -webkit-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -o-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); 
	background: -ms-linear-gradient(top, #fbf9e1 0%, #f7edcf 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbf9e1', endColorstr='#f7edcf',GradientType=0 ); 
	background: linear-gradient(top, #f7edcf 0%, #f7edcf 100%); 
	color: #4c4c4c; 
	margin-right:15px; 
	overflow: hidden
	}
.m_avatar {
	height:70px;
	valign:right;
}
.mentor_badge {
	width:75px;
	margin-right:4px;
	float:right;
}
#nursery_bar {margin-bottom: 35px; clear: left}
.clearfix {zoom: 1};
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden};

.show_mentor {
	width:450px;

	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 0px 4px 5px #666666; 
	-webkit-box-shadow: 0px 4px 5px #666666; 
	box-shadow: 0px 4px 5px #666666; 
	background: #fbf9e1; 
 
	color: #4c4c4c; 
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px; 
	overflow: hidden;
	}
.bio {
	float:right;
	margin-right:15px;

}
.form {
	font-size:small;
}
#penguin1 {
	float:right;
	margin-top:0px;
	}
.add_button2 a:link {
    color: #FFFFFF;
	}
.add_button2 a:visited {
    color: #FFFFFF;
}
#add_mentor a {
	color:#ffffff;
}
.add_button3 {
    background: -moz-linear-gradient(center top , #c13100, #98998B ) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(top, #c13100 0%, #98998B 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#c13100), to(#98998B));
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c13100', endColorstr='#98998B');
    border: 1px solid #53171F;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF !important;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px 6px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #661514;
	float:right;
	margin-bottom:7px;
	margin-right:7px;
}
.add_button3 a {
    color: #FFFFFF;
	}
.add_button3 a:visited {
    color: #FFFFFF;
}